{% extends "base.html" %}
{% block menu %}

<li class="breadcrumb-item active">Repo Detail</li>
{% endblock %}
{% block body %}

 

    <!-- Main content -->
    <section class="content">
        <div class="container">

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Repository</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure want to delete {{ reponame }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <!-- <button type="button" class="btn btn-danger">DELETE</button> -->
                    <a href="{{ url_for('delete', repo=reponame) }}" class="btn btn-danger" >DELETE</a>
                  </div>
                </div>
              </div>
            </div>
      
            <!-- Default box -->
            <div class="row" >
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-4">
                        <h3 class="card-title font-weight-bold">{{ reponame }}</h3>
                      </div>
                      <div class="col-4 row">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ branch }}
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  {% for i in branches %}
                                  <a class="dropdown-item" href="{{ url_for('repo', repo=reponame, branchname=i)}}">{{ i }}</a>
                                  {% endfor %}
                              </div>
                        </div>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" ><span class="fa fa-trash " aria-hidden="true"></span></button>
                      </div>
                      
                    </div>
                    <div class="card-tools">
                      <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                          <a class="nav-link active" href="#commit" data-toggle="tab">Commit</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#url" data-toggle="tab">URL</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <div class="tab-content">
                      <div class="tab-pane active" id="commit">
                        <table  id='commit_table' class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Commit</th>
                              <th>Version</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for commit in commits %}
                              <tr>
                                <td><a href="http://{{ Address }}:3000/faris/{{ reponame }}/commit/{{ commit[0] }}?style=split" target="_blank">{{ commit[0] }}</a></td>
                                <td>{{ commit[1] }}</td>
                                {% if commit[2] == 'HEAD' %}
                                    <td> <button disabled="disabled" class="btn btn-danger" > TERPILIH</button> </td>
                                {% else %}
                                    <td> <a href="/v2/checkout/{{ reponame }}/{{ branch }}/{{ commit[0] }}" class="btn btn-primary">PILIH</a> </td>
                                {% endif %}
                              </tr>
                            {% endfor %}
                            
                          </tbody>
                        </table>
      
                      </div>
                      <div class="tab-pane card-body " id="url">
                          <h3 class="h3">HOST</h3>
                          <code>{{ Address }}</code>
                          <h3 class="h3 font-weight-bold">Uploads</h3>
                          <h4 class="h4">TFTP & FTP</h4>
                          PATH : <code>uploads/{{ reponame }}/[filename]</code>
                          <h4 class="h4">SCP</h4>
                          PATH : <code>REPO/uploads/{{ reponame }}/[filename]</code>
                          <br>
                          <h3 class="h3 font-weight-bold">Downloads</h3>
                          <h4 class="h4">TFTP & FTP</h4>
                          PATH : <code>downloads/{{ reponame }}/[filename]</code>
                          <h4 class="h4">SCP</h4>
                          PATH : <code>REPO/downloads/{{ reponame }}/[filename]</code>
      
                      </div>
      
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
      
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Files</h3>
                  </div>
                  <div class="card-body">
                    <table class="table table-bordered table-hover" id="table_files">
                      <thead>
                        <th>Files</th>
                        <th>Version</th>
                      </thead>
                      <tbody>
                        {% for i in files %}
                          <tr>
                            <td><a href="{{ url_for('show', repo=reponame, filename=i) }}" target="_blank">{{ i }}</a></td>
                            <td>{{ head }}</td>
                          </tr>
                        {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>  
              </div>
      
            </div>
        </div>
      <!-- MODAL -->
      

      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block script %}
<script>
  $(function () {
    $('#commit_table').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": false,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "info": true,
      "autoWidth": false,
    });
    $('#table_files').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": false,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "info": true,
      "autoWidth": false,
    });
  });
  </script>

{% endblock %}

